body {
    background-color: #daa520;
    font-family: "Ubuntu";
    color: black;
    margin: 0;
    font-style: "Futura";
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a:active {
    color: black;
}
a:visited {
    color: black;
}
#registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration h1 {
    font-size: 50px;
}

#registration h2 {
    font-size: 30px;
}

#smallLogo {
    margin-top: 15px;
    margin-left: 20px;
}

#bigLogo {
    margin-top: 200px;
    width: 400px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    outline: none;
    border: 0;
    background-color: goldenrod;
    border-bottom: 2px solid black;
    width: 400px;
    display: block;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    border: none;
    display: block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: #f2f4fb;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(77, 84, 95);
    transform: scale(1.1);
}

.btn:active {
    border: solid rgb(77, 84, 95) 2px;
}

.coinBtn {
    border: none;
    cursor: pointer;
    background-color: black;
    color: #f2f4fb;
    font-size: 30px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
}

.coinBtn:hover {
    background-color: rgba(77, 84, 95);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.smallProfilePicture {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-right: 20px;
}
.smallProfilePicture:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#appHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: goldenrod;
}

#dark {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    background-color: goldenrod;
    border: 2px solid black;
    position: fixed;
    min-width: 20%;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: black;
    border-radius: 30px;
    min-height: 20vh;
}

.bigProfilePicture {
    width: 250px;
    height: 250px;
    margin: 50px;
    border: black 2px solid;
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: row;
}

#bioContent {
    font-size: 25px;
}

textarea {
    display: block;
    width: 500px;
    height: 200px;
    font-size: 25px;
    border: 1px solid border;
}

#appHeader .headerIcon {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
}

#appHeader .headerIcon:hover {
    transform: scale(1.1);
}

.userOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    overflow-x: auto;
    margin-top: 50px;
    border: black solid 5px;
    width: 60vw;
    min-height: 300px;

    padding: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    text-align: center;
}

.userOverview img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin-right: 50px;
}

.link {
    font-size: 30px;
    color: white;
}

.coin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    border: 1px black solid;
}

.coins-header {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    border: 1px black solid;
    font-size: 20px;
    font-weight: bold;
}

.coins-header p:nth-child(1) {
    margin-left: 10px;
    margin-right: 120px;
}

.coins-header p:nth-child(2) {
    margin-right: 160px;
}

.coins-header p:nth-child(3) {
    margin-right: 230px;
}

.coins-header p:nth-child(4) {
    margin-right: 180px;
}

.coins-header p:nth-child(5) {
    margin-right: 100px;
}

.coin:hover {
    background-color: rgba(77, 84, 95, 0.5);
}

.coinRank {
    font-size: 40px;
    min-width: 30px;
}
.coin img {
    padding-top: 10px;

    height: 100px;
    width: 100px;
}

.coinNaming {
    min-width: 130px;
    display: block;
    font-size: 25px;
    margin-right: 50px;
}

.coinPrice {
    min-width: 250px;
    font-size: 40px;
    margin-right: 50px;
}

.coinMarketCap {
    min-width: 200px;
    font-size: 40px;
    margin-right: 50px;
}

.coinMarketCapChange {
    min-width: 200px;
    font-size: 40px;
    margin-right: 50px;
}

.coinPriceChange {
    min-width: 200px;
    font-size: 40px;
    margin-right: 50px;
}

#coinDescription {
    font-size: 20px;
    font-style: "Futura";
    border: black solid 2px;
    width: 80vw;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#coinDescription a {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#marketOverview {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    border: 1px black solid;
    font-size: 40px;
}

#totalStat {
    font-size: 25px;
    padding: 10px;
    border: 2px black solid;
}
#totalStat strong {
    margin: 20px;
}

.globalMarketCapPercentage {
    font-size: 16px;
}
.green {
    color: green;
}
.green::before {
    content: "+";
}

.green::after {
    content: "% ▲";
}

.red {
    color: red;
}

.red::after {
    content: "% ▼";
}

.bio textarea {
    background-color: black;
    color: white;
    border: 1px black solid;
}

.chat-message {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 20px;
    background-color: #646463;
}

.chat {
    width: 60%;
    margin: 50px;
    border: 5px solid black;
    margin-left: 50%;
    transform: translateX(-50%);
}

.chat-container {
    max-height: 500px;
    overflow-y: auto;
    color: white;
}

.chatImage {
    height: 100%;
    width: 80px;
    height: 80px;
    margin-right: 50px;
    border-radius: 50%;
}

.chatInfo {
    font-size: 20px;
}

#chatInput {
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;
}

.chatInfo b {
    font-weight: bold;
}

.chatText {
    font-size: 25px;
}

.chat button {
    margin-top: 10px;
    float: right;
    color: white;
    background-color: black;
    font-size: 25px;
    padding: 5px;
}

.chat button:hover {
    cursor: pointer;
}

.chat-container::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
}

.chat-container::-webkit-scrollbar-track {
    background: gold; /* color of the tracking area */
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: black; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 4px solid white; /* creates padding around scroll thumb */
}

.userOverview::-webkit-scrollbar-track {
    background: black; /* color of the tracking area */
}

.userOverview::-webkit-scrollbar-thumb {
    background-color: black; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 4px solid white; /* creates padding around scroll thumb */
}

.userOverview::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
}

#logout:hover {
    cursor: pointer;
}

#logout:hover {
    cursor: pointer;
}

#coinTitle {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 50%;
    transform: translateX(-50%);
}

#coinTitle span {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}
#coinTitle img {
    height: 100px;
    width: 100px;
}

.ranking {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.rankingUser {
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.rankingUser:hover {
    background-color: rgba(77, 84, 95, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

.rankingUser img {
    height: 100px;
    width: 100px;
    margin-right: 80px;
    border-radius: 50%;
}

.rankingUser strong {
    min-width: 300px;
}

.RankingUserAmount {
    min-width: 200px;
}

.userStats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profilePic {
    border-radius: 50%;
}

#main {
    color: black;
}

#historyChanges {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btnhistoryChanges {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
}

.btnhistoryChanges:hover {
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: black;
    padding: 10px;
    align-items: center;
    column-gap: 20px;
    text-align: center;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px black solid;
    margin: 10px;
    height: 230px;
    width: 70%;
    padding-right: 10px;
    border-radius: 25px;
    font-size: 18px;
}

.news strong {
    font-size: 25px;
}

.news img {
    margin-right: 50px;
    width: 300px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.news div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.news:hover {
    background-color: rgba(77, 84, 95, 0.5);
}

#otherProfile {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 65%;
}

#otherProfile div {
    padding-top: 50px;
}

#chart {
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.findUser {
    border-radius: 25px;
}

.findUser:hover {
    background-color: rgb(77, 84, 95);
    transform: scale(1.1);
}

#coinOverview {
    width: 90%;
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

#noFriends {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

#findPeople {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

input[type="number"] {
    outline: none;
    border: 0;

    border: 2px solid black;
    height: 10%;
    display: block;
    font-size: 40px;
    width: 100px;
    border-radius: 25px;
    margin-left: 20px;
    padding: 10px;
}

#exitUploader {
    font-size: 25px;
    font-weight: bold;
}

#exitUploader:hover {
    cursor: pointer;
}

a:visited,
a:hover,
a:link {
    color: black;
}

#userBalance {
    width: 40vw;
}
