body {
    background-color: gold;
    font-family: "Ubuntu";
    color: #1f40b5;
    margin: 0;
}
#registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration h1 {
    font-size: 50px;
}

#registration h2 {
    font-size: 30px;
}

#smallLogo {
    width: 140px;
}

#bigLogo {
    width: 300px;
    height: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    outline: none;
    border: 0;
    background-color: gold;
    border-bottom: 2px solid #1f40b5;
    width: 400px;
    display: block;
    font-size: 20px;
    color: #1f40b5;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    border: none;
    display: block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1f40b5;
    color: #f2f4fb;
    padding: 20px 20px;
    font-size: 25px;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(25, 77, 155);
    color: rgb(255, 197, 89);
}

.btn:active {
    border: solid rgb(15, 76, 129) 2px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1f40b5;
    opacity: 1; /* Firefox */
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.smallProfilePicture {
    width: 120px;
    height: 120px;
}

#appHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #1f40b5;
    margin-bottom: 15px;
}

#dark {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: goldenrod;
    border: 2px solid #1f40b5;
    position: fixed;
    width: 50vw;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #1f40b5;
    border-radius: 30px;
    min-height: 50vh;
}

.bigProfilePicture {
    width: 250px;
    height: 250px;
    margin-right: 50px;
}

.profile {
    display: flex;
    flex-direction: row;
}

#bioContent {
    font-size: 25px;
}

textarea {
    display: block;
    width: 500px;
    height: 200px;
    font-size: 25px;
    border: 1px solid #1f40b5;
}

#appHeader .headerIcon {
    width: 120px;
    height: 120px;
}

.userOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    overflow-x: auto;
    background-color: rgba(31, 64, 181, 0.9);
    margin-top: 50px;
}

.userOverview img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin-right: 50px;
}

.link {
    font-size: 30px;
    color: white;
}
