body {
    background-color: gold;
    font-family: "Ubuntu";
    color: #1f40b5;
    margin: 0;
}
#registration {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration h1 {
    font-size: 50px;
}

#registration h2 {
    font-size: 30px;
}

#smallLogo {
    width: 140px;
}

#bigLogo {
    width: 300px;
    height: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    outline: none;
    border: 0;
    background-color: gold;
    border-bottom: 2px solid #1f40b5;
    width: 400px;
    display: block;
    font-size: 20px;
    color: #1f40b5;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    border: none;
    display: block;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1f40b5;
    color: #f2f4fb;
    padding: 20px 20px;
    font-size: 25px;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(25, 77, 155);
    color: rgb(255, 197, 89);
}

.btn:active {
    border: solid rgb(15, 76, 129) 2px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1f40b5;
    opacity: 1; /* Firefox */
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

.smallProfilePicture {
    width: 120px;
    height: 120px;
}

#appHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #1f40b5;
    margin-bottom: 15px;
}

#dark {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: goldenrod;
    border: 2px solid #1f40b5;
    position: fixed;
    width: 50vw;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #1f40b5;
    border-radius: 30px;
    min-height: 50vh;
}

.bigProfilePicture {
    width: 250px;
    height: 250px;
    margin-right: 50px;
}

.profile {
    display: flex;
    flex-direction: row;
}

#bioContent {
    font-size: 25px;
}

textarea {
    display: block;
    width: 500px;
    height: 200px;
    font-size: 25px;
    border: 1px solid #1f40b5;
}

#appHeader .headerIcon {
    margin: 20px;
    width: 120px;
    height: 120px;
}

.userOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    overflow-x: auto;
    background-color: rgba(31, 64, 181, 0.9);
    margin-top: 50px;
}

.userOverview img {
    width: 200px;
    height: 300px;
    object-fit: contain;
    margin-right: 50px;
}

.link {
    font-size: 30px;
    color: white;
}

.coin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    border: 1px rgba(31, 64, 181) solid;
}

.coin:hover {
    background-color: rgba(31, 64, 181, 0.5);
}

.coinRank {
    min-width: 50px;
    font-size: 40px;
    margin-right: 50px;
    margin-left: 20px;
}
.coin img {
    min-width: 100px;
    height: 100px;
    margin-right: 50px;
}

.coinNaming {
    min-width: 200px;
    display: block;
    font-size: 25px;
    margin-right: 50px;
}

.coinPrice {
    min-width: 200px;
    font-size: 40px;
    margin-right: 50px;
}

.coinMarketCap {
    min-width: 200px;
    font-size: 40px;
    margin-right: 50px;
}

.coinMarketCapChange {
    min-width: 200px;
    font-size: 40px;
    margin-right: 50px;
}

.coinPriceChange {
    min-width: 200px;
    font-size: 40px;
    margin-right: 50px;
}

#marketOverview {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    border: 1px rgba(31, 64, 181) solid;
    font-size: 40px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.chat-message {
    display: flex;
    flex-direction: row;
    background-color: #1f40b5;
    color: gold;
    padding: 20px;
}

.chat {
    margin: 50px;
    border: 5px solid #1f40b5;
}

.chat-container {
    max-height: 500px;
    overflow-y: auto;
}

.chatImage {
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

.chatInfo {
    font-size: 20px;
}

#chatInput {
    border-top: 5px gold solid;
    height: 200px;
    width: 100%;
    color: gold;
    background-color: #1f40b5;
}

.chatInfo b {
    font-weight: bold;
}

.chatText {
    font-size: 25px;
}

.chat button {
    margin-top: 10px;
    float: right;
    color: gold;
    background-color: #1f40b5;
    font-size: 25px;
    padding: 5px;
}

.chat button:hover {
    cursor: pointer;
}

.chat-container::-webkit-scrollbar {
    width: 15px; /* width of the entire scrollbar */
}

.chat-container::-webkit-scrollbar-track {
    background: gold; /* color of the tracking area */
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 4px solid gold; /* creates padding around scroll thumb */
}

#logout {
    margin: 10px;
    font-size: 30px;
    display: block;
}

#logout:hover {
    cursor: pointer;
}

#coinTitle {
    display: flex;
    flex-direction: row;
}
